<div class="card" style="cursor: pointer">
  <a
    [routerLink]="['/recipe', index]"
    routerLinkActive="active"
    class="list-group-item"
  >
    <div class="card-flex">
      <div class="card-text">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
      <div class="card-img">
        <img class="card-image" src="{{ recipe.imagePath }}" alt="Card image" />
      </div>
    </div>
  </a>
</div>
